*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-add-book{
    color: #212529 ;
        &:hover{
            color: #f8f9fa ;
        }
    } 


.container-books{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 4rem 2rem;
    gap: 20px;

    .card-book{
        width: 200px;

        .book-thumbnail{
            aspect-ratio: 10/16;
            object-fit: cover;
        }
    }
}
.booklist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    .card-booklist{
        display: flex;
        align-items: center;

        .booklist-thumbnail{
            height: 140px;
            aspect-ratio: 10/16;
            object-fit: cover;
        }
    }

}
